body {
    background-color: white;
   
  }
  
main {
    padding-top: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 6rem;
   
    justify-content: center;
  }

.carousel-item2{
    min-height: 400px; /* Passt das Carousel an die Inhalte an */

}

  .dunkel{
    padding-top: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
   
    justify-content: center;
    background-color: black;
    color:white;
  }

  .navbar-nav .nav-link:hover {
    color: lightblue;
    text-decoration: underline;
  }


  .carousel {
    max-height: 80vh; /* Maximale Höhe des Carousels */
    overflow: hidden; /* Überflüssige Inhalte ausblenden */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner img {
    height: 100%; /* Bildhöhe anpassen */
    width: auto; /* Breite proportional skalieren */
    object-fit: cover; /* Bild ausfüllen, ohne Verzerrung */
    margin-top: 150px;
}




.carousel-caption {
    position: absolute; /* Position absolut */
    top: 50%;           /* In der Mitte des Carousels */
    left: 50%;          /* In der Mitte des Carousels */
    transform: translate(-50%, -10%); /* Zentrieren */
    text-align: center; /* Text zentrieren */
}

.card-title{
 font-size: 25px;
}

.card-text{
  font-size: 20px;
}


  h1{
    text-align: center;
    font-weight: bolder;
    
  }
 
  
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}


h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}


h6{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: darkgreen;
}
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

a{
  font-family: 'Lunasima';
}

/* Container für das Video, damit es sich richtig verhält */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Verhältnis 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  /*background: #000; */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chip-img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Bild skaliert, um den Bereich auszufüllen */
}


.postit {
  background: linear-gradient(to bottom, #000000, #9ce1f81c); /* HEX-Werte für Grau und Hellblau */

  background-size: cover; /* Skaliert das Bild, um den Bereich auszufüllen */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Kein Wiederholen des Bildes */
}

.note {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%; /* Begrenze die Breite auf 100% des Viewports */
  margin: 0 auto; /* Zentriere den Container */
  padding: 1rem; /* Abstand innen */
}


.kleinebox {
  display: flex;                 /* Flexbox aktivieren */
  flex-direction: column;        /* Vertikale Anordnung der Kinder */
  padding: 1rem;                 /* Weniger Padding für bessere Anpassung */
  margin: 1rem;                  /* Etwas weniger Margin, damit es nicht überläuft */
  background-color: white;       /* Hintergrundfarbe Weiß */
  border: aqua solid 1px;        /* Ein dünner blauer Rahmen */
  border-radius: 10px;           /* Abgerundete Ecken */
  box-sizing: border-box;        /* Stellt sicher, dass Padding und Border in der Boxgröße enthalten sind */
  max-width: 100%;               /* Maximal 100% der Breite */
  flex-grow: 1;                  /* Ermöglicht der Box, sich innerhalb eines flex-Containers auszudehnen */
}


.box { position: relative; /* Referenz für das absolut positionierte Bild */
  display: flex; /* Ermöglicht flexibles Layout */
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center; /* Zentriert den Inhalt vertikal */
  width: 300px; /* Beispielbreite */
  height: 300px; /* Beispielhöhe */
  padding: 1rem; /* Innenabstand */
  background-color: white;
  border: 1px solid aqua;
  border-radius: 5px;
  overflow: hidden; /* Verhindert, dass Inhalte über den Rahmen hinausgehen */
}


.card{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
  height: 400px;
  place-items: center;
  border-radius: 0;
  cursor: pointer;
  margin-top: 100px;
}

.card2{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
  height: 400px;
  border-radius: 0;
  cursor: pointer;
  margin-top: 100px;
}


.card-body{
  margin-top: -60px;

padding-left: 2rem;
}

.card-img-top{
 
  height: 250px;
  width: 250px;
  position: relative;

  left: 30px;
  top: -80px;
  object-fit: cover;
}

.card-img-top2{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  position: relative;
  left: 30px;
  top: -80px;
  object-fit: cover;
}

.card-img-top2:hover{
  transform: scale(1.24);
}

.card-img-top:hover{
  transform: scale(1.24);
}


/* Container für das Symbol und den Text */
.social-container {
  display: flex; /* Flexbox für eine horizontale Anordnung */
  align-items: center; /* Vertikale Zentrierung der Elemente */
  margin-bottom: 1rem; /* Abstand nach unten */
  flex-direction: column;
}

/* Allgemeines Styling für alle Symbole */
.social-icon {
  font-size: 3rem; /* Größe des Symbols */
  transition: transform 0.3s ease; /* Sanfte Übergänge bei Hover */
}

/* Effekt beim Hover über das Symbol (Vergrößerung) */
.social-icon:hover {
  transform: scale(1.1); /* Vergrößert das Symbol bei Hover */
}

/* Styling des Textes */
.social-text {
  margin-left: 1rem; /* Abstand zwischen Symbol und Text */
  font-size: 1.2rem; /* Schriftgröße des Textes */
  font-weight: bold; /* Text fett */
  color: #333; /* Textfarbe */
}


/* Email Symbol */
.email-icon {
  color: #010307; /* Vielleicht Schwarz? */
}

/* Facebook Symbol */
.facebook-icon {
  color: #3b5998; /* Typische Facebook-Blau-Farbe */
}

/* YouTube Symbol */
.youtube-icon {
  color: #FF0000; /* Typische YouTube-Rot-Farbe */
}

/* Instagram Symbol */
.instagram-icon {
  color: #E1306C; /* Typische Instagram-Pink-Farbe */
}



footer {
  padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
  background-color: #333; /* Dunkler Hintergrund */
  color: white; /* Weiße Schriftfarbe */

  text-align:justify; /* Zentriert den Text */
 
}
.footer-link {
  color: #ffffff; /* Weiß */
  text-decoration: none;
}

.footer-link:hover {
  color: #92d5eb; 
}


footer a{
  color: antiquewhite;
  text-decoration: none;
}

footer a:hover {
 
  color:#92d5eb; /* Farbe ändert sich bei Hover */
}


footer .social-text{
color: antiquewhite;
}



html {
  scroll-padding-top: 80px; /* Höhe der Navbar */
}



form {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 20px auto;
}
label {
  display: block;
  margin: 10px 0 5px;
}
input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.error {
  color: red;
  font-size: 0.9em;
  display: none; /* Versteckt die Fehlermeldung standardmäßig */
}


/* Medienabfragen für kleinere Bildschirme */
@media (max-width: 768px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 30px; /* Verkleinerte Pfeile */
    height: 30px;
  }

  .carousel {
    height: 50vh; /* Maximalhöhe des Carousels */
    overflow: hidden; /* Alles, was überläuft, verstecken */
}

.carousel-item {
    height: 100%; /* Carousel-Items übernehmen die volle Höhe */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.carousel-item img {
    width: 100%; /* Bild füllt die Breite des Containers */
    height: 100%; /* Bild füllt die Höhe des Containers */
    object-fit: cover; /* Bild füllt den Bereich aus und schneidet Überflüssiges ab */
    object-position: center; /* Das Bild wird zentriert */
    
}


.carousel-caption{
  display: block;
  z-index: 10;
}
 
  .text-container h2 {
    font-size: 1.5rem; /* Kleinere Schriftgröße */
  }

  .text-container p {
    font-size: 1rem; /* Kleinere Schriftgröße */
  }

  .carousel-caption {
    bottom: 20%; /* Text höher positionieren */
  }

  .map-container {
    bottom: -20%; /* Verschiebt die Karte vertikal nach unten */
    width: 80%; /* Breite der Karte */
    max-width: 600px; /* Optional: maximale Breite */
    height: 400px; /* Höhe der Karte */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position innerhalb des Carousel-Bereichs */
    left: 50%; /* Horizontal zentrieren */
    transform: translate(-50%, 0); /* Exakte Zentrierung */
    margin: 0; /* Sicherheitsmaßnahme gegen ungewollte Margins */
}


  .carousel-caption h5 {
    font-size: 1.2rem;
  }
  .carousel-caption h2 {
      font-size: 1.5rem; /* Kleinere Schriftgröße */
  }
  .carousel-caption p {
      font-size: 1rem; /* Kleinere Schriftgröße */
  }
  .carousel {
      max-height: 80vh; /* Kleinere maximale Höhe für mobile Geräte */
  }

  .carousel-indicators {
    bottom: 10px; /* Verschiebt die Indikatoren nach unten */
    position: absolute;
    z-index: 1;
  }

  .carousel-indicators button {
    width: 10px; /* Kleinere Indikatoren */
    height: 10px;
  }

  .card{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    height: 400px;
    place-items: center;
    border-radius: 0;
    cursor: pointer;
    margin-top: 100px;
  }
  
  
  
  .card-body{
    margin-top: -70px;
  
  padding-left: 1rem;
  }
  
  
  .card-img-top{
    
    height: 100px;
    width: 100px;
    position: relative;
  
    left: 10px;
    top: -80px;
    object-fit: cover;
  }
  

h2{
  font-size: 2rem; 
}

h5{
  font-size: 1.5rem; 
}


/* Sicherstellen, dass das Video im Container bleibt und sich anpasst */
iframe {
  width: 100%;
  height: auto;
  max-width: 100%;
  border: none;
}

  main{
    padding: 2rem;
  }
p{
 font-size: 1.5rem;
}

/* Karte ganz unten auf dem Bild */
.map-container {
  
  width: 80%; /* Breite der Karte verringert */
  max-width: 100px; /* Maximale Breite der Karte */
  height: 50px; /* Höhe der Karte verringert */
}

/* iframe für die Google Map */
.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

  
  .card-img-top{
    left: 10px;
  }

  .card-img-top2{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    left: 10px;
    top: -80px;
    object-fit: cover;
  }

  .social-container {
    flex-direction: column; /* Symbole und Text untereinander anordnen */
    align-items: center; /* Zentrieren der Elemente */
    flex-direction: column;
  }

  .social-icon {
    font-size: 3rem; /* Kleinere Symbole auf Handys */
   transform: scale(1.2);
  }

  .social-text {
    margin-left: 0; /* Kein Abstand mehr, wenn Text unter dem Symbol */
    font-size: 1rem; /* Kleinere Schriftgröße für Handys */
    text-align: center; /* Zentrieren des Textes */
  }

  .social-container a {
    margin-bottom: 10px; /* Etwas Abstand nach unten */
  }
}






@media(max-width: 991px){
    .sidebar{
        background-color: rgba(27, 27, 27, 0.603);
        backdrop-filter: blur(10px);
     }
}

