/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    display: grid;
    height: 100%;
   
}
p {
    line-height: 1.5; /* Einfacher Zeilenabstand */
  }


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 15px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.50s ease;
    background-color: rgb(31, 32, 32);
}

.navlist {
    display: flex;
}

.navlist a {
    display: inline-block;
    margin: 0 35px;
    color: aliceblue;
    font-size: 1.5rem;
    transition: all .6s ease;
}

.navlist a:hover {
    color: lightskyblue;
    transform: translateY(-5px);
}

.right-content {
    display: flex;
    align-items: center;
}

.nav-btn {
    border-color: lightskyblue;
    background-color: rgb(31, 32, 32);
    color: rgb(101, 231, 248);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
}
.nav-btn2 {
    border-color: lightskyblue;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
}


.call-btn, .form-btn {
    border-color: lightskyblue;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
}


.nav-btn:hover {
    background-color: lightskyblue;
    color: black;
    transform: translateY(-5px);
}

.nav-btn2:hover {
    background-color: lightskyblue;
    color: black;

}

.call-btn:hover, .form-btn:hover{
    transform: scale(1.2);
}

/* Hamburger Icon */
.menu-icon {
    width: 60px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    border-radius: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 10; /* Setzt die Menü-Icon-Striche über den Hintergrund */
}


.menu-icon div {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.abschnitt{
    padding: 0 14%;
    display: grid;
    padding-top: 120px;
    }



.hero {
    padding: 0 14%;
    padding-top: 140px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/foyer.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

  


  .hero-img {
    opacity: 0; /* Startzustand */
    transform: scale(0.8); /* Bild kleiner starten */
    transition: all 2s ease-in-out;
  }
  
  .hero-img.active {
    opacity: 0.55;
    transform: scale(1); /* Endzustand: Originalgröße */
  }
  

.hero-img img {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.hero-text {
    opacity: 0; /* Startzustand */
    transform: translateX(-50px); /* Text von links einfliegen */
    transition: all 0.8s ease-in-out;
  }
  
  .hero-text.active {
    opacity: 1;
    transform: translateX(0); /* Endzustand: Normale Position */
  }

.hero-text h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 15px 0;
}
.hero-text h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2px 0;
}

.hero-text h5 {
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
    padding-bottom: 30px;
}

.hero-text p {
    font-size: 2rem;
    margin: 15px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-hero {
    display: flex;
    align-items: center;
}


/*Gallery mit slidern */
.gallery{
    height: 80vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.gallery__card{
    position: relative;
    width: 450px;
    height: 280px;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.gallery img{
    max-width: 100%;
    height: auto;
}

.gallery__img, .gallery__card::after, .gallery__data{
    position: absolute;
}

.gallery__img{
    inset: 0;
    margin: auto;
    transition: transform .3s;
}

.gallery__card::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, 
    hsla(0, 0%, 100%, 0)32%,
    hsla(0, 0%, 0%, .3)100%);
    top: 0;
    z-index: 1;
}

.gallery__data{
    display: none;
    bottom: 1.5rem;
    left: 1.75rem;
    z-index: 10;
}


.gallery__overflow{
    position: relative;
}

.gallery__thumbnail{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform .3s;
}

.gallery__thumbnail-img{
    position: absolute;
    inset: 0;
    margin: auto;
}

/*Swiper class */
.gallery-cards{
    width: 100%; 
    max-width: 600px; /* Optionale Begrenzung */
    box-sizing: border-box; /* Hilft bei der Berechnung der Breite */
    overflow: hidden;
}
/*Swiper class */
.gallery-thumbs {
    width: 360px; 
    max-width: 600px; /* Optionale Begrenzung */
    box-sizing: border-box; /* Hilft bei der Berechnung der Breite */
    overflow: hidden;
}

.gallery-cards:hover .gallery__img{
    transform: scale(1.1);
}

.gallery .swiper-wrapper{
    display: flex;
    padding: 2.5rem 0;
    gap: 0px; /* Abstände zwischen den Thumbnails */
}

.gallery-thumbs{
    height: 132px;
}

.swiper-slide {
    transition: opacity 0.3s ease-in-out;
}


.gallery .swiper-slide {
    width: 33.33%; /* Damit immer 3 Thumbnails nebeneinander angezeigt werden */
}

/*Hier wird das Aktive Thumbnail nach oben verschoben */
.swiper-slide-active .gallery__thumbnail{
    transform: translateY(-1.25rem) scale(1.2);
}

/* Hier wird das Thumbnail gegdreht */

.swiper-slide-next .gallery__thumbnail{
    transform: rotate(15deg);
}

.swiper-slide-prev .gallery__thumbnail{
    transform: rotate(-15deg);
}

.swiper-pagination-fraction{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #0066cc;
    bottom: 0;
}

.swiper-button-next, .swiper-button-prev{
    font-size: .5rem;
    color: #0066cc;
    top: 4.5rem;
}

.swiper-button-next{
    right: -.5rem;
    transform: rotate(5);
}

.swiper-button-prev{
    right: -.5rem;
    transform: rotate(-5);
}

.gallery-cards::after{
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    z-index: 10;
}

.swiper-horizontal.swiper-css-mode> .swiper-wrapper{
    scroll-snap-type: initial;
}

.wrapper {
    display: flex;
    height: 400px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.wrapper .card .front-face,
.wrapper .card .back-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden; /* WICHTIG */
}

.wrapper .card .back-face{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper .card .front-face {
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(375deg, #d8f0f3ea, #12b5caea); 
}

.wrapper .card .back-face {
    padding: 5px;
    background-color: #fdfdfd;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.wrapper:hover .card {
    transform: rotateY(180deg);
}

.wrapper .back-face .icons img{
        width: 50px; 
        height: 50px;
}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face img {
    height: 150px;
    width: 150px;
   
    border-radius: 50%;
    padding: 5px;
  background: linear-gradient(375deg, #d8f0f3ea, #12b5caea); 
}

.wrapper .back-face .info {
    text-align: center;
}

.wrapper .back-face .info .title {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}


.wrapper .card.flipped {
    transform: rotateY(180deg);
}



.schiff {
    display: flex;             /* Container als Flexbox definieren */
    justify-content: center;   /* Horizontal zentrieren */
    align-items: center;       /* Vertikal zentrieren */
}


.row {
    display: flex; /* Verwende Flexbox für horizontale Ausrichtung */
    justify-content: center; /* Zentriere die Elemente horizontal */
    align-items: center; /* Zentriere die Elemente vertikal */
    gap: 10px; /* Abstand zwischen den Spalten */
}


.col h1 {
    font-size: 1.5rem; /* Passe die Schriftgröße an */
    margin: 0; /* Entferne Standardabstände */
}

.col a {
    color: #333; /* Link-Farbe */
    text-decoration: none; /* Entferne die Unterstreichung */
    padding: 5px 10px; /* Etwas Innenabstand für die Links */
    border-radius: 5px; /* Runde Ecken */
    transition: background-color 0.3s ease; /* Schöne Übergänge für Hover */
}


/* Kontaktsektion */
.contact-section {
    padding: 40px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

/* Kontaktinformationen */
.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.contact-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 1rem;
    color: #555;
}

.contact-item a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.contact-item a:hover {
    text-decoration: underline;
}

.boxy {
    margin-bottom: 20px;
  }
  .boxy p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 60px;
  }

footer {
    background-color: #e4eeec;
    padding: 60px;
    color: #333;
  }

  .footer-links {
    text-decoration: none; /* Entfernt den Unterstrich von den Links */
    color: #333; /* Textfarbe für Links */
    padding-bottom: 20px; /* Etwas Platz unter dem Text */
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc; /* Grauer Strich unter dem Link */
  }

  .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; /* Damit die Spalten auf kleineren Bildschirmen umbrechen können */
    font-size: 14px;
    gap: 20px; /* Abstand zwischen den Spalten */
  }

.footer-col {
    flex: 1 1 30%; /* Jede Spalte nimmt 30% der Breite ein */
    min-width: 250px; /* Minimale Breite, um eine zu kleine Darstellung zu vermeiden */
  }
  
  .footer-col h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer-info {
    margin-bottom: 20px;
  }
  .footer-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 60px;
  }
  .footer-links a {
    margin: 0 10px;
    color: #555;
    text-decoration: none;
  }
  .footer-links a:hover {
    color: #000;
  }
  


.hidden {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
    transition: opacity 1.5s ease-out 0.5s, transform 1.0s ease-out 0.5s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}



/* Nur auf mobilen Geräten anzeigen */
@media (min-width: 769px) {
    .menu-icon {
        display: none; /* Hamburger-Icon auf größeren Bildschirmen ausblenden */
    }
}



/* Responsive Menu */
.navlist {
    display: flex;
}

@media (max-width: 950px) {
    /* Menü verstecken und bei Klick anzeigen */
    .navlist {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 100px 50px;
        top: 0;
        right: 0;
        left: 100%; /* Versteckt das Menü außerhalb des Bildschirms */
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(32px);
        transition: all .6s ease-in-out;
        background-color: rgba(0, 0, 0, 0.6); /* Halbdurchsichtiger grauer Hintergrund */
    }

    .navlist.open {
        display: flex;
        left: 0; /* Öffnet das Menü */
    }


    .nav-btn {
        font-size: 1.5rem;
        margin: 20px 20px;
        padding: 15px 15px;
    }

    .nav-btn2, .call-btn, .form-btn {
        font-size: 1.5rem;
        margin: 15x 20px;
        padding: 15px 15px;
    }

    .navlist a {
        display: block;
        padding: 0;
        margin: 0px 0px 25px 0px;
        font-size: 2rem;
    }

    .hero {
        padding: 20px;
        grid-template-columns: 1fr;
        height: auto;
    }

    .hero-text {
        padding-top: 130px;
    }

    .hero-text h1 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 3px 0;
    }

    .hero-text h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 2px 0;
    }

    .hero-text h5 {
        font-size: 1rem;
        font-weight: 300;
        margin: 5px 0;
        padding-bottom: 30px;
    }

    .hero-text p {
        font-size: 1rem;
        margin: 1px 0;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .hero-img {
        height: 500px;
        width: 500px;
        margin: 0 auto;
    }

    .hero-img img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    /* Galerie und Slider */
    .gallery{
        height: 70vh;
    }

    .gallery-cards {
        border-radius: .5rem;
    }

.gallery__card{

    height: 150px;
    width: 200px;
}

    /* Bilder und Thumbnails */
    .gallery__img {
        width: 100%;
        height: auto;
    }

    .gallery__thumbnail-img {
        max-width: 60px;
    }

    /* Buttons und Pagination */
    .swiper-button-next,
    .swiper-button-prev {
        padding: 8px;
    }


    /* Galerie Layout auf kleinen Geräten */
    .gallery__data {
        display: none;
    } 

    .wrapper {
        display: flex;
        height: 300px;
        width: 200px;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 5px; /* Kleinste Größe auf Smartphones */
        height: 5px;
        font-size: 5px; /* Symbol weiter verkleinern */
    }
    .row {
        flex-direction: column; /* Stapel die Elemente vertikal */
        align-items: center; /* Zentriere die Elemente */
    }

    .col h1 {
        font-size: 1.5rem; /* Verkleinere die Schriftgröße */
        margin: 10px 0; /* Abstand zwischen den Elementen */
    }

   /* .col h1 { */
      /*  font-size: 1.2rem;  Passe die Schriftgröße an */
       /* margin: 0;  Entferne Standardabstände */
  /*  } */

    .footer-container {
        flex-direction: column; /* Auf mobilen Geräten stapeln sich die Spalten */
        align-items: center;
      }
    
      .footer-col {
        width: 100%; /* Jede Spalte nimmt nun die volle Breite des Containers ein */
        margin-bottom: 20px; /* Abstand zwischen den gestapelten Spalten */
      }

}

/* Für sehr kleine Bildschirme (z.B. Handys) */
@media (max-width: 768px)  {

    .hero {
        height: 100vh;
    }

    .hero-img {
        height: 250px;
        width: 250px;
        margin-top: -60px;
    }

    .hero-text {
        margin-top: 160px;
        margin-left: 10px;
      }

  /* Galerie und Slider */
  .gallery{
    height: 70vh;
}

.gallery-cards {
    border-radius: .5rem;
}

.gallery__card{

height: 130px;
width: 210px;
border-radius: 1.5rem;

}

/* Bilder und Thumbnails */
.gallery__img {
    height: 150px;
width: 180px;
    width: 100%;
    height: auto;
}

.gallery-thumbs {
    width: 180px; 
    max-width: 200px; /* Optionale Begrenzung */
    box-sizing: border-box; /* Hilft bei der Berechnung der Breite */
    overflow: hidden;
}

.gallery .swiper-slide {
    width: 20%; /* Damit immer 3 Thumbnails nebeneinander angezeigt werden */
}

.gallery__thumbnail-img {
    width: 40px;
    height:auto;
    border-radius: 0.5rem;
}

/* Galerie Layout auf kleinen Geräten */
.gallery__data {
    display: none;
} 

    .swiper-button-next,
    .swiper-button-prev {
       display: none;
    }

    .wrapper .back-face .info .title {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 30px;
    }
    .wrapper .back-face .info p {
        font-size: 15px;
    }
    .wrapper .back-face .icons img{
        width: 30px; 
        height: 30px;
}



}


/* Transformation zum X */
.menu-open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 20px);
}
.menu-open div:nth-child(2) {
    opacity: 0;
}
.menu-open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -20px);
}